.row{
    background-color: #333333;
    padding: 20px;
}
#hys{
    color: #4f8dcb;
    margin-left: 20px;
    display: inline;
}
.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
