.row{
    background-image: url("../../../assets/Banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
@media (max-width:575px){

    .row{
        height: 150px;
    }


}