<div class="row">
    <footer>
        <p>Agustín Ozán</p>
            <a href="https://www.linkedin.com/in/agustin-ozan-9584b152" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/AgustinOzan" target="_blank"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.instagram.com/agustinozan/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://www.facebook.com/agustin.ozan.1/" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a> 
        <p>© Argentina Programa 2023</p>
    </footer>
</div>