<div class="row">
    <div>
        <button type="button" class="btn btn-success btn-sm" routerLink="/newproyecto" *ngIf="isLogged">
            <i class="bi bi-file-earmark-plus"></i></button>
        <h1 id="educacion">Proyectos</h1>
    </div>
    <div class="col-lg-12" id="tabla">
    <table class="table" >
        <body>
            <tr *ngFor="let Proyecto of proyecto">
                <td class="col-lg-3"><h4>{{Proyecto.nombre}}</h4></td>
                <td class="col-lg-6"><p>{{Proyecto.descripcion}}</p></td>
                <td class="col-lg-3"><p id="link">{{Proyecto.link}}</p></td>
                <td *ngIf="isLogged">
                    <button class="btn btn-warning btn-sm" routerLink="/editproy/{{Proyecto.id}}">
                    <i class="bi bi-pencil-square"></i></button>
                </td>
                <td *ngIf="isLogged">
                    <button class="btn btn-danger btn-sm" (click)="delete(Proyecto.id)">
                    <i class="bi bi-trash3"></i></button>
                </td>
            </tr>
        </body>
    </table>
    </div>
</div>